<footer class="content-footer">
  <div class="footer">
    <div class="copyright">
        <span>Copyright &copy; <%= new Date().getFullYear() %> <b class="text-dark">CHATBOX</b>. All rights reserved.</span>
        <span class="go-right">
        <a href="/terms" class="text-gray mrg-right-15">Term &amp; Conditions</a>
        <a href="/privacy" class="text-gray">Privacy &amp; Policy</a>
      </span>
    </div>
  </div>
</footer>
