<% layout('layouts/default') -%>

<% block('title', 'Privacy') %>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="ask-4">
          <div class="card-block">
            <ul class="list-unstyled list-info">
              <li>
                <span class="thumb-img pdd-top-10">
        					<i class="ti-shield text-warning font-size-30"></i>
        				</span>
                <div class="info">
                  <b class="text-dark font-size-22">Privacy & Policy</b>
                  <p class="no-mrg-btm">We take our security seriously</p>
                </div>
              </li>
            </ul>
            <div class="mrg-top-30">
              <div id="accordion-ask-4" class="accordion border-less" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
			                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-10">
		                    <span>Regular Policy</span>
		                    <i class="icon ti-arrow-circle-down"></i>
			                </a>
  			            </h4>
                  </div>
                  <div id="collapse-ask-10" class="collapse panel-collapse">
                    <div class="panel-body">
                      <p>
                        If you are an EU resident, our EU specific Privacy Policy applies to you.
                      </p>
                      <p>
                        Privacy Policy &middot; Effective date: June 14, 2018
                      </p>
                      <p>
                        We at Chatbox know you care about how your personal information is used and shared, and we
                        take your privacy seriously. Please read the following to learn more about our Privacy Policy.
                        By using or accessing the Services in any manner, you acknowledge that you accept the
                        practices and policies outlined in this Privacy Policy, and you hereby consent that we will
                        collect, use, and share your information in the following ways.
                      </p>
                      <p>
                        Remember that your use of Chatbox’s Services is at all times subject to the Terms of Use, which
                        incorporates this Privacy Policy. Any terms we use in this Policy without defining them have the
                        definitions given to them in the Terms of Use.
                      </p>
                      <h3>
                        What does this Privacy Policy cover​?
                      </h3>
                      <p>
                        This Privacy Policy covers our treatment of personally identifiable information ("Personal
                        Information") that we gather when you are accessing or using our Services, but not to the
                        practices of companies we don’t own or control, or people that we don’t manage. We gather
                        various types of Personal Information from our users, as explained in more detail below, and we
                        use this Personal Information internally in connection with our Services, including to personalize,
                        provide, and improve our services, to allow you to set up a user account, to enable you to build
                        chatbots and communicate with chatbots others have built, to contact you and allow other users to
                        contact you, to fulfill your requests for certain products and services, and to analyze how you use
                        the Services. In certain cases, we may also share some Personal Information with third parties,
                        but only as described below.
                      </p>
                      <p>
                        As noted in the Terms of Use, we do not knowingly collect or solicit personal information from
                        anyone under the age of 13. If you are under 13, please do not attempt to register for the Services
                        or send any personal information about yourself to us. If we learn that we have collected personal
                        information from a child under age 13, we will delete that information as quickly as possible. If
                        you believe that a child under 13 may have provided us personal information, please contact us at
                        tos@chatbox.store.
                      </p>
                      <h3>
                        Will Chatbox ever change this Privacy Policy​?
                      </h3>
                      <p>
                        We’re constantly trying to improve our Services, so we may need to change this Privacy Policy
                        from time to time as well, but we will alert you to changes by placing a notice on Chatbox.store,
                        by sending you an email, and/or by some other means. Please note that if you’ve opted not to
                        receive legal notice emails from us (or you haven’t provided us with your email address), those
                        legal notices will still govern your use of the Services, and you are still responsible for reading
                        and understanding them. If you use the Services after any changes to the Privacy Policy have
                        been posted, that means you agree to all of the changes. Use of information we collect now is
                        subject to the Privacy Policy in effect at the time such information is used.
                      </p>
                      <h3>
                        What Information does Chatbox Collect​?
                      </h3>
                      <p>
                        <strong>Information You Provide to Us:</strong> We receive and store any information you knowingly
                        provide to us. For example, if you create an account on our Services to build a chatbot, through
                        the registration process and/or through your account settings, we may collect Personal Information
                        such as, but not limited to, your name, email address, timezone, list of Facebook Pages you own.
                        Or, if you are an individual who communicates with chatbots that have been created using our
                        services, we may collect information such as, but not limited to, your name, gender, time zone,
                        and avatar/picture. If you provide your Facebook or other third-party account credentials to, you
                        understand some content and/or information in those accounts (“Third Party Account Information”)
                        may be transmitted into your account with us, and that Third Party Account Information transmitted
                        to our Services is covered by this Privacy Policy; for example, when you log in to our Services
                        using your Facebook Messenger account, we may receive your personal information associated with
                        that account, such as your Facebook pages. Certain information may be required to register with us
                        or to take advantage of some of our features.
                      </p>
                      <h3>
                        Information Collected Automatically
                      </h3>
                      <p>
                        Whenever you interact with our Services, we automatically receive and record information on our
                        server logs from your browser or device, which may include any chatbots you have created using
                        the Services, your conversation history with the chatbots(s), IP address, geolocation data, device
                        identification, “cookie” information, the type of browser and/or device you’re using to access our
                        Services, and the page or feature you requested. “Cookies” are identifiers we transfer to your
                        browser or device that allow us to recognize your browser or device and tell us how and when
                        pages and features in our Services are visited and by how many people. You may be able to
                        change the preferences on your browser or device to prevent or limit your device’s acceptance of
                        cookies, but this may prevent you from taking advantage of some of our features.
                      </p>
                      <p>
                        If you click on a link to a third party website or service, a third party may also transmit cookies to
                        you. Again, this Privacy Policy does not cover the use of cookies by any third parties, and we
                        aren’t responsible for their privacy policies and practices. Please be aware that cookies placed by
                        third parties may continue to track your activities online even after you have left our Services, and
                        those third parties may not honor “Do Not Track” requests you have set using your browser or
                        device.
                      </p>
                        We may use this data to customize content for you that we think you might like, based on your
                        usage patterns. We may also use it to improve the Services or to help developers build better
                        chatbots– for example, this data can tell us how often users use a particular feature of the
                        Services, or what kinds of questions users ask of certain chatbots, and we can use that knowledge
                        to make the Services and the chatbots created through the Services interesting to as many users as
                        possible.
                      </p>
                      <h3>
                        Information Collected From Other Websites and Do Not Track Policy
                      </h3>
                      <p>
                        Through cookies we place on your browser or device, we may collect information about your
                        online activity after you leave our Services. Just like any other usage information we collect, this
                        information allows us to improve the Services and customize your online experience, and
                        otherwise as described in this Privacy Policy. Your browser may offer you a “Do Not Track”
                        option, which allows you to signal to operators of websites and web applications and services
                        (including behavioral advertising services) that you do not wish such operators to track certain of
                        your online activities over time and across different websites. Our Services do not support Do
                        Not Track requests at this time.
                      </p>
                      <h3>
                        Will Chatbox Share Any of the Personal Information it Receives​?
                      </h3>
                      <p>
                        We do not rent or sell your Personal Information in personally identifiable form to anyone. We
                        may share your Personal Information with third parties as described in this section:
                        Information that’s been de-identified. ​We may de-identify your Personal Information so that
                        you are not identified as an individual, and provide that information to our partners. We may also
                        provide aggregate usage information to our partners (or allow partners to collect that information
                        from you), who may use such information to understand how often and in what ways people use
                        our Services, so that they, too, can provide you with an optimal online experience. However, we
                        never disclose aggregate usage or de-identified information to a partner (or allow a partner to
                        collect such information) in a manner that would identify you as an individual person.
                      <p>
                        Chatbot Developers: ​The developers/owners of chatbots created through the Services which you
                        communicate with will have access to the Personal Information you provide to them. For
                        example, if you communicate with a chatbot which was created through the Services, the
                        developer/owner of that chatbot may have access to your conversation history with the chatbot,
                        your username, your avatar, and any other information you provide through the chatbot. In
                        addition, the chatbot developer/owner may use a Salesforce or other third party product
                        integration to receive and process the data from your interaction with the chatbot.
                      </p>
                      <p>
                        Affiliated Businesses: In certain situations, businesses or third party websites we’re affiliated
                        with may sell or provide products or services to you through or in connection with the Services
                        (either alone or jointly with us). You can recognize when an affiliated business is associated with
                        such a transaction or service, and we will share your Personal Information with that affiliated
                        business only to the extent that it is related to such transaction or service. One such service may
                        include the ability for you to automatically transmit Third Party Account Information, such as
                        your Facebook Messenger profile information, to your Services profile or to automatically
                        transmit information in your Services profile to your third party account. We have no control
                        over the policies and practices of third party websites or businesses as to privacy or anything else,
                        so if you choose to take part in any transaction or service relating to an affiliated website or
                        business, please review all such business’ or websites’ policies.
                      </p>
                      <p>
                        Agents: We employ other companies and people to perform tasks on our behalf and need to share
                        your information with them to provide products or services to you; for example, we may use a
                        payment processing company to receive and process your credit card transactions for us. Unless
                        we tell you differently, our agents do not have any right to use the Personal Information we share
                        with them beyond what is necessary to assist us. Note that an “agent” may also be considered a
                        “partner” in certain circumstances, and would be subject to the terms of the “Information that’s
                        been de-identified​” section in that regard.
                      </p>
                      <p>
                        Business Transfers: We may choose to buy or sell assets, and may share and/or transfer
                        customer information in connection with the evaluation of and entry into such transactions. ​Also,
                        if we (or our assets) are acquired, or if we go out of business, enter bankruptcy, or go through
                        some other change of control, Personal Information could be one of the assets transferred to or
                        acquired by a third party.
                      </p>
                      <p>
                        Protection of Chatbox and Others: We reserve the right to access, read, preserve, and disclose
                        any information that we believe is necessary to comply with law or court order; enforce or apply
                        our Terms of Use and other agreements; or protect the rights, property, or safety of Chatbox, our
                        employees, our users, or others.
                      </p>
                      <h3>
                        Is Personal Information about me secure​?
                      </h3>
                      <p>
                        Your account is protected by a password for your privacy and security. If you access your
                        account via Facebook or another third party site or service, you may have additional or different
                        sign-on protections via that third party site or service. You must prevent unauthorized access to
                        your account and Personal Information by selecting and protecting your password and/or other
                        sign-on mechanism appropriately and limiting access to your computer or device and browser by
                        signing off after you have finished accessing your account.
                      <p>
                        We endeavor to protect the privacy of your account and other Personal Information we hold in
                        our records, but unfortunately, we cannot guarantee complete security. Unauthorized entry or
                        use, hardware or software failure, and other factors, may compromise the security of user
                        information at any time.
                      </p>
                      <p>
                        Under California Civil Code Sections 1798.83-1798.84, California residents are entitled to
                        contact us to prevent disclosure of Personal Information to third parties for such third parties’
                        direct marketing purposes; in order to submit such a request, please contact us at
                        tos@chatbox.store.
                      </p>
                      <h3>
                        What choices do I have​?
                      </h3>
                      <p>
                        You can always opt not to disclose information to us, but keep in mind some information may be
                        needed to register with us, to communicate with chatbots, or to take advantage of some of our
                        features.
                      </p>
                      <p>
                        You may stop using the Services at any time; however, your conversation logs from
                        communications with chatbots may remain in our records.
                      </p>
                      <h3>
                        What if I have questions about this policy?
                      </h3>
                      <p>
                        If you have any questions or concerns regarding our privacy policies, please send us a detailed
                        message to support@chatbox.store, and we will try to resolve your concerns.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
			                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-11">
		                    <span>EU Policy</span>
		                    <i class="icon ti-arrow-circle-down"></i>
			                </a>
  			            </h4>
                  </div>
                  <div id="collapse-ask-11" class="collapse panel-collapse">
                    <div class="panel-body">
                      <p>
                        This Privacy Policy applies to EU residents only. If you are not an EU resident, our regular Privacy Policy applies
                        to you.
                      </p>
                      <h3>
                        Chatbox’s EU-Specific Privacy Policy &middot; Last updated: June 14, 2018 / Effective Date: June 14, 2018
                      </h3>
                      <p>
                        We appreciate your interest in our services, products (collectively, our “Products​”), and website
                        (https://chatbox.store/), (our “Website​” and together with our services and Products, our “Services​”). Privacy
                        protection is very important to us and we are committed to protecting and respecting your privacy. This
                        Privacy Policy sets out information about how we collect, store, process, transfer and use data that identifies
                        or is associated with you, as a natural person (hereinafter "personal information​") and which is subject to the
                        European Data Protection Regulation (the “GDPR​”). This is the case for visitors and users of our Services
                        located in the European Union, European Economic Area and other users who provide us with personal
                        information subject to the GDPR. Personal information covers all personal data as defined under Art. 4(1)
                        GDPR.
                      </p>
                      <p>
                        This Privacy Policy does not describe the processing of personal information
                        (i) to all visitors/users located outside the European Union or Economic Area, and
                        (ii) where Chatbox processes personal information on behalf of other data controllers, for example, when we
                        process personal information when rendering services to customers located in the EU on behalf of a data
                        processing agreement in the capacity of a data processor. If you have any questions relating to our processing
                        of personal information described under (i), please have a look at [LINK to main PP], or under (ii), please
                        consult with the EU entity who is responsible for the processing of your personal information.
                      </p>
                      <h3>
                        1. Who is the data controller of your personal information?
                      </h3>
                      <p>
                        We, that is 200 Labs, Inc., d/b/a Chatbox, 555 De Haro Street, Suite 280, San Francisco, CA 94107 USA,
                        (“Chatbox​” or “we​”) is the data controller. We are responsible for, and control, the processing of your
                        personal information.
                        If you wish to contact us, you can find our contact details at the end of this Privacy Policy.
                      <h3>
                        2. What personal information do we collect?
                      </h3>
                      <p>
                        <strong>In the context of rendering our Services, we may collect information about you. This information regularly
                        includes the following:</strong>
                        ● If you create an account​: Your name, email address, time zone and a list of Facebook Pages you
                        own (page names, IDs, categories, number of likes).
                        ● If you use our Products or Services: ​Your name, gender, language settings, time zone and avatar
                        picture as long as your privacy settings permit access to these pieces of information.
                        ● If you use third-party account credentials to log in to our Services​: We may collect some
                        information associate with your third-party account such as your name, email address, time zone
                        and a list of Facebook Pages you own (page names, IDs, categories, number of likes).
                        ● If you contact us (via our Website or via phone, email or letter), e.g. for a support request,
                        respond to a survey, or send us an inquiry​: Name, e-mail address, IP address, information on our
                        communication with you and any additional information you provide us with.
                        ● If you merely use our Website​: Our server logs from your browser or device, which may include
                        any chatbots you have created using our Services, your conversation history with the chatbots, IP
                        address, geolocation data, device identification, browser data, browser type (user agent, browser
                        version, etc), device type, device model, operating system version, screen resolution, information
                        on your usage of our Website (list visited pages, etc) and online activities and information
                        obtained with the use of cookies (see section 9 below).
                      </p>
                      <p>
                        Please note that this Privacy Policy does not cover personal information you provide to our clients when using
                        chatbots created with the use of our Services that are located on our clients’ websites, as we do not control
                        the means and purposes of such personal data processing as defined in Article 4(7) of the GDPR. Typically, our
                        clients, who are owners of chatbots created through our Service will be able to collect your conversation
                        history with the client’s chatbot, and information contained in your public social media profile, such as your
                        name, your avatar photo, your time zone, your gender, your language settings, and any other information you
                        provide through the said chatbot. Our clients may also use third party product integration to receive and
                        process personal information you have provided. Please consult our clients’ privacy policies for such data
                        processing activities.
                      </p>
                      <h3>
                        3. How do we collect your information?
                      </h3>
                      <p>
                        This personal information is collected in many ways and may include:
                        ● personal information you provide to us​: Most of the personal information we receive comes to us
                        voluntarily from our users in the course of using our Services, such as when visiting our Website,
                        communicating with us or in the process of requesting our Services.
                        You are free to choose which information you want to provide to us or whether you want to
                        provide us with information at all. However, some information, such as your name, email address,
                        Facebook ID, and information on your requested Services may be necessary for the performance of
                        our contractual obligations. Without providing this information, you will not be able to order certain
                        Services or enter into a contract with us.
                        ● personal information collected via technology​: As you use our Website, we may collect passive
                        information through the use of cookies. Please see section 9 below for more information.
                        ● personal information we receive from others​: ​We may receive personal information about users from
                        third parties such as social media sites, law enforcement agencies, providers of denied party screening
                        and marketing consultants.
                      </p>
                      <h3>
                        4. Why and on which legal basis do we collect and use your personal information?
                      </h3>
                      <p>
                        Please note, the notice on the legal grounds refers to the legal justifications under the GDPR which only applies
                        to our operations to the extent we service or monitor EU residents.
                        The reasons for using your personal information may differ depending on the purpose of the collection.
                        Regularly we use your information for the following purposes and on the following legal grounds:
                        ● We use your information in order to perform our contractual services or prior to entering into a
                        contract with you​. If you order Services from Chatbox or if you contact us to request our Services,
                        we use your information to provide you with these Services. Information we use includes:
                        information we need to contact you or otherwise communicate with you; if you are a registered
                        user: information to manage your account; information to enable the usage of Services;
                        information for invoicing and payment follow up.
                        ● We use your information if justified by our legitimate interests​. The usage of your information
                        may also be necessary for our own business interests. For example, we may use some of your
                        information to evaluate and review our business performance, create financial statements;
                        improve our Services or to identify potential cyber security threats. If necessary we may also use
                        your information to pursue or defend ourselves against legal claims. We may use your email
                        address and names for our email marketing campaigns. You can object to this use at any time by
                        following the link to unsubscribe at the bottom of our marketing emails.
                        ● We use your information after obtaining your consent​. In some cases, we may ask you to grant us
                        separate consent to use your information. You are free to deny your consent and the denial will
                        have no negative consequences for you. You are free to withdraw your consent at any time with
                        effect for the future. If you have granted us consent to use your information, we will use it only for
                        the purposes specified in the consent form.
                        This also includes our marketing campaigns​. If you sign up to our email newsletter or
                        when providing us with your email address to allow us to use this email address for email
                        marketing, we will use your personal information in our email marketing campaigns. You
                        may unsubscribe from our email newsletter at any time by following the link to
                        unsubscribe at the bottom of our marketing emails. You may also contact us via email
                        address provided at the end of this Privacy Policy to request that we remove you from our
                        email list.
                        ● We use your information to comply with legal obligations​. We are obligated to retain certain
                        information because of legal requirements, for example, tax or commercial laws.
                        We will only use your information for the purposes for which we have collected them. We will not use your
                        information for other purposes. We do not use your personal information for automated individual
                        decision-making.
                      </p>
                      <h3>
                        5. With whom do we share your personal information?
                      </h3>
                      <p>
                        We will share your personal information with the following third parties:
                        ● Service providers and advisors​: Third party vendors and other service providers that perform services
                        for us or on our behalf, which may include marketing campaign services, providing mailing or email
                        services, tax and accounting services, product fulfilment, payment processing, data enhancement
                        services, fraud prevention, web hosting, or providing analytics services; These third parties include:
                        Google Cloud, Microsoft Azure, MailChimp, Intercom, Stripe, Facebook, etc. Any such service providers
                        will by appropriate data processing agreements be bound to only process the data on Chatbox’s behalf
                        and under its instructions.
                        ● Promotional partners​: Third parties with whom we partner to provide promotional activities, which
                        will be identified by name in the context of these activities. Chatbox has partnered with third parties
                        who provide promotional activities in the past and intends to partner with them in the future.
                        However, Chatbox does not partner with any such third party at the moment. These partners will be
                        identified by name in the context of these activities.
                        ● Purchasers and third parties in connection with a business transaction​: Personal information may be
                        disclosed to third parties in connection with a Chatbox-related transaction, such as a merger, sale of
                        Chatbox’s assets or shares, reorganization, financing, change of control or acquisition of all or a
                        portion of our business, or in the event of a bankruptcy or similar proceedings.
                        ● Law enforcement, regulators and other parties for legal reasons​: Third parties as required by law or
                        subpoena or if we reasonably believe that such action is necessary to (a) comply with the law and the
                        reasonable requests of law enforcement; (b) to enforce our legal claims or to protect the security or
                        integrity of our Services; and/or (c) to exercise or protect the rights, property, or personal safety of
                        Chatbox, our visitors, or others.
                      </p>
                      <h3>
                        6. How long do we keep your information?
                      </h3>
                      <p>
                        We will store personal information for as long as necessary to fulfil the purposes for which we collect the
                        personal information, in accordance with our legal obligations and legitimate business interests. In general,
                        information obtained in the course of providing our Service will be blocked from general access within a few
                        days and deleted latest within 3 years after the end of us providing our Service, unless an earlier deletion is
                        requested or has been agreed upon, or statutory retention requirements require a longer retention or we
                        need to retain such data for own legitimate interests, for example, the defense against IT security threats. For
                        example, national commercial or financial codes may require to retain certain information for up to 10 years.
                      </p>
                      <h3>
                        7. How do we protect your information?
                      </h3>
                      <p>
                        We implement a variety of security measures to maintain the safety of your personal information when you
                        use our Services. In the event that any information under our control is compromised as a result of a breach of
                        security, we will take reasonable steps to investigate the situation and, where appropriate, notify those
                        individuals whose information may have been compromised and take other steps, in accordance with any
                        applicable laws and regulations.
                      </p>
                      <h3>
                        8. How do we safeguard your personal information when there is an international transfer?
                      </h3>
                      <p>
                        As we are located in the USA, any information you provide, will be processed and stored in the USA. If you are
                        in the European Union or European Economic Area, this may mean that your personal information will be
                        stored in a jurisdiction that offers a level of protection that may, in certain instances, be less protective of your
                        personal information than the jurisdiction you are typically a resident in.
                        If we transfer information from the European Union to third parties outside the European Union and to
                        countries not subject to schemes which are considered as providing an adequate data protection standard, we
                        will either enter into contracts which are based on the EU Standard Contractual Clauses with these parties or
                        transfer information under the scope of the EU/US Privacy Shield.
                        If you wish to inquire further about the safeguards we use, please contact us using the details set out at the
                        end of this Privacy Policy. We will take reasonable steps to ensure that your personal information is treated
                        securely and in accordance with applicable law and this Privacy Policy.
                      </p>
                      <h3>
                        9. Cookies and other tracking technologies.
                      </h3>
                      <p>
                        The Services use cookies, web beacons, file information and similar technologies to distinguish you from other
                        users of the Services. This helps us to provide you with a good experience when you browse the Services and
                        also allows us to improve the Services.
                        Cookies are pieces of code that allow for personalization of the Services experience by saving your information
                        such as user ID and other preferences. A cookie is a small data file that we transfer to your device's hard disk
                        (such as your computer or smartphone) for record-keeping purposes.
                        We use or may use the data collected through tracking technologies to: (a) remember information so that you
                        will not have to re-enter it during your visit or the next time you visit the site; (b) provide custom, personalized
                        content and information, including targeted content and advertising; (c) identify you across multiple devices;
                        (d) provide and monitor the effectiveness of our Services; (e) monitor aggregate metrics such as total number
                        of visitors, traffic, usage, and demographic patterns on our Website; (f) diagnose or fix technology problems;
                        and (g) otherwise to plan for and enhance our Services.
                        We use the following types of cookies:
                        ● Strictly necessary cookies. ​These are cookies that are required for the essential operation of
                        the Services such as to authenticate users and prevent fraudulent use.
                        ● Analytical/performance cookies​. These allow us to recognize and count the number of
                        visitors and to see how visitors move around the Services when they are using it. This helps
                        us to improve the way the Services work, for example, by ensuring that users are finding
                        what they are looking for easily.
                        ● Functionality cookies​. These are used to recognize you when you return to the Services. This
                        enables us to personalize our content for you, greet you by name and remember your
                        preferences (for example, your choice of language or region).
                        ● Targeting cookies​. These cookies record your visit to our Website, the pages you have
                        visited, the links you have followed and may also gather information about your online
                        activity after you leave our Website. We will use this information to make our Website, the
                        advertising displayed on it, and the marketing messages we send to you more relevant to
                        your interests. We may also share this information with third parties who provide a service
                        to us for this purpose.
                        ● Third party cookies​. Please be aware that advertisers and other third parties may use their
                        own cookies tags when you click on an advertisement or link on our Website. These third
                        parties are responsible for setting out their own cookie and privacy policies.
                        How to manage cookies?
                        The cookies we use are designed to help you get the most from the Services but if you do not wish to receive
                        cookies, most browsers allow you to change your cookie settings. Please note that if you choose to refuse
                        cookies you may not be able to use the full functionality of the Services. These settings will typically be found
                        in the "options" or "preferences" menu of your browser. In order to understand these settings, the following
                        links may be helpful, otherwise you should use the "Help" option in your browser for more details.
                        ● Cookie settings in Internet Explorer
                        ● Cookie settings in Firefox
                        ● Cookie settings in Chrome
                        ● Cookie settings in Safari web and https://support.apple.com/kb/ph21411?locale=en_US.
                        Other Tools
                        We may collect analytics data or use third-party analytics tools, such as Yandex Metrica , Google Tag Manager,
                        Fullstory, Appcues and Intercom, to help us measure traffic and usage trends for the Service and to understand
                        more about the demographics of our users.
                      </p>
                      <h3>
                        10. Your California Privacy Rights​.
                      </h3>
                      <p>
                        If you are a California resident, California Civil Code Section 1798.83 permits you to request information
                        regarding the disclosure of personal information to third parties for their direct marketing purposes during the
                        immediately preceding calendar year. You may make one request each year by emailing us at
                        tos@chatbox.store.
                      </p>
                      <h3>
                        11. What rights and choices do you have?
                      </h3>
                      <p>
                        We want you to understand your rights and choices regarding how we may use your personal information.
                        Depending on how you use your information, these rights and choices may include the following:
                        ● Individual Rights​. You have specific rights under applicable privacy law in respect to your personal
                        information that we hold, including a right of access and erasure and a right to prevent certain
                        processing activities.
                        If you are a resident in the European Union, you have the following rights in respect to your personal
                        information that we hold:
                        ● Right of access​. The right to obtain access to your personal information.
                        ● Right to rectification​. The right to obtain rectification of your personal information without undue
                        delay where that personal information is inaccurate or incomplete.
                        ● Right to erasure​. The right to obtain the erasure of your personal information without undue delay in
                        certain circumstances, such as where the personal information is no longer necessary in relation to
                        the purposes for which it was collected or processed.
                        ● Right to restriction​. The right to obtain restriction of the processing undertaken by us on your
                        personal information in certain circumstances, such as, where the accuracy of the personal
                        information is contested by you, for a period of time enabling us to verify the accuracy of that
                        personal information.
                        ● Right to portability​. The right to portability allows you to move, copy or transfer personal information
                        easily from one organization to another.
                        ● Right to object​. You have a right to object to any processing based on our legitimate interests where
                        there are grounds relating to your particular situation. You can object to marketing activities for any
                        reason whatsoever.
                        If you wish to exercise one of these rights, please contact us using the contact details below. For cookies or
                        e-mail marketing, we provide the following easily usable option:
                        ● Cookies Settings and Preferences​. You may disable cookies and other tracking technologies through
                        the settings in your browser.
                        In addition to the afore listed rights, as an EU resident, you have the right to lodge a complaint ​with your local
                        data protection authority. Further information about how to contact your local data protection authority is
                        available at http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.
                      </p>
                      <h3>
                        12. Online Privacy Policy Updates
                      </h3>
                      <p>
                        We may make changes to our Privacy Policy from time to time. Please review our policies regularly as updated
                        policies will apply to your future use of our Services.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- page js -->
<% script('/js/extras/faq.js') %>
